$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'common/footer/footer';
@import 'components/main/main';
@import 'components/message/message';
/* endinject */
